doctype html
html(lang='en')
    head
        title sthreepop
        //Include boot strap font awesome etc.
        link(rel='stylesheet', style='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css')
        
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        //Link in our stylesheets... And stuff for fontawesome
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        //google fonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:900|Ubuntu:700&display=swap')

        link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.9.0/css/all.css", integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E", crossorigin='anonymous') 
        //Include stuff for semantic ui etc.
        script(src="https://code.jquery.com/jquery-3.1.1.min.js", crossorigin='anonymous') 
        link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css")
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js")

    body

      block content
