html {
  height: 100%;
}

body { 
    min-height: 100vh;
}

.jumbotron > div:nth-child(1) {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 100vh;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

